<h1>SIGN UP</h1>

<form class="" action="/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit!</button>
</form>
